<div>
    <h2>Detalles del libro</h2>

{{!-- <div>
<h4>{{book.title}}</h4>
<p>{{book.description}}</p>
<h5>Author: {{book.author}}</h5>
</div>   --}}

    
    <div>
        <h4>{{details.title}}</h4>
        <p>{{details.description}}</p>
        {{!-- <h5>Author: {{details.author.name}}</h5>
        <p>nacid@ en {{details.author.country}} en {{details.author.yearBorn}}</p> --}}

        {{#each details.author}}
         <h5>Author: {{name}}</h5>
        <p>nacid@ en {{country}} en {{yearBorn}}</p>

        {{/each}}
    </div>  
    

    <a href="/books/{{details._id}}/edit">
    <button>Ir a editar</button>
    </a>

    
            {{!-- <a href="/books/{{details._id}}/delete"> --}}
        <form action="/books/{{details._id}}/delete" method="POST">
        <button>Borrar</button>
        </form>


</div>

